<div class="modal-body">
  <form class="form-horizontal" role="form">
      <div class="form-group">
          <div cass="col-sm6">
              <input class="form-control" ng-model="login.username" placeholder="Email or username" required autofous>
          </div>
      </div>

      <div class="form-group">
          <div cass="col-sm6">
              <input type="password" class="form-control" ng-model="login.password" placeholder="Password" required>
              <alert ng-show="loginErrors.login" type="danger" ng-bind="loginErrors.login"></alert>
          </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
         <button class="btn btn-primary" ng-click="ok()">Login</button>
         <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>

  </form>

</div>
