<nav class="masthead clearfix" ng-controller="authController">
    <div class="inner">
        <h3 class="masthead-brand"><a href="{{servletContext}}">Ask<small>ME</small></a> </h3>
        <div class="nav masthead-nav" ng-switch on="{{loggedIn}}">

           <div ng-switch-when="true">
                <span>Hello {{auth.getUser().username}}</span>
                <button class="btn btn-primary" ng-click="logout()">Logout</button>
           </div>
           <div ng-switch-when="false">
                <button class="btn btn-primary" ng-click="openLogin()">Login</button>
                <button class="btn btn-info" ng-click="openJoin()">Join</button>
           </div>
        </div>


    </div>
</nav>
