/*
 * Globals
 */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


.popover{

  background-color: #3753C4;
  border: 1px solid #F0E4E8;
  border: 1px solid rgba(55, 83, 196, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(55, 83, 196, 0.2);
          box-shadow: 0 5px 10px rgba(55, 83, 196, 0.2);


}

.popover-title {
  background-color: #F0E4E8;
}

.popover.top .arrow {
  border-top-color: #F0E4E8;
}

.popover.top .arrow:after {
  border-top-color: #F0E4E8;
}

.popover.right .arrow {
  border-right-color: #F0E4E8;
  border-right-color: rgba(55, 83, 196, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  border-right-color: #F0E4E8;
}

.popover.bottom .arrow {
  border-bottom-color: #F0E4E8;
  border-bottom-color: rgba(55, 83, 196, 0.25);
}

.popover.bottom .arrow:after {
  border-bottom-color: #F0E4E8;
}

.popover.left .arrow {
  border-left-color: #F0E4E8;
  border-left-color: rgba(55, 83, 196, 0.25);
}

.popover.left .arrow:after {
  border-left-color: #F0E4E8;
}

.modal-dialog {

  width: 400px;

}
.modal-body .control-label {

  color: black;

}

.modal-dialog .modal-body .glyphicon-remove {

  right: -180px;
  top: -25px;
  color: #a94442;

}

.modal-dialog .modal-body .alert {

  margin: 0px;
  padding: 2px;
  line-height: default;
}
